
conse/conse.xcodeproj/project.xcworkspace/xcuserdata/FelipeZP.xcuserdatad/UserInterfaceState.xcuserstate

conse/conse.xcodeproj/xcuserdata/FelipeZP.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcuserstate
*conse/Pods
